.icon-success {
    margin: 9rem 0 2.5rem 0;
}

.thankYou-header {
    margin-bottom: 1.5rem;
}

.button-dismiss {
    margin-top: 10rem;
}

.bold {
    font-weight: var(--fw-bold);
}

@media (min-width:900px) {
    .thankYou-card {
        width: 504px;
        padding: 1.75rem 3rem 3rem;
    }

    .button-dismiss {
        margin: 0;
    }

    .icon-success {
        margin: 0;
    }
}