.grid-container {
  padding: 1.5rem;
}

.grid-container {
  display: grid;
  gap: 1.5rem
}

.list {
  display: grid;
  gap: .625rem
}

.list-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem
}